<script src='<%- url_for(theme.cdn.npm) %>valine/dist/Valine.min.js'></script>
    <div id="comments"></div>
    <script>
        new Valine({
            el: '#comments',
            appId: '<%- url_for(theme.valine.appid) %>',
            appKey: '<%- url_for(theme.valine.appkey) %>'
        })
    </script>
</body>