<link href="<%- url_for(theme.cdn.cdnjs) %>artalk/2.5.5/Artalk.css" rel="stylesheet">
<script src="<%- url_for(theme.cdn.cdnjs) %>artalk/2.5.5/Artalk.js"></script>
<div id="Comments"></div>
<script>
Artalk.init({
    el:        '#comments', 
    pageKey:   '', 
    pageTitle: '',  
    server:    '<%- url_for(theme.artalk.url) %>',  
    site:      '<%= config.title %>', 
})
</script>