<link rel="stylesheet" href="<%- url_for(theme.cdn.npm) %>@waline/client@v2/dist/waline.css"/>
<div id="waline"></div>
<script type="module">
  import { init } from '<%- url_for(theme.cdn.npm) %>@waline/client@v2/dist/waline.mjs';

  init({
    el: '#waline',
    serverURL: '<%- url_for(theme.waline.url) %>',
  });
</script>